@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  background: #07111f;
}

* {
  box-sizing: border-box;
}
